import(
	)

exportClasses(
	      "portfolioMatch",
	      "portfolioMatches"
              )

exportMethods(
              "summary",
              "exposures",
              "returns",
              "expo.plot",
              "rp.plot",
              "rp.hist",
	      "aggregateMatches"
              )
              
export(
	"portfolio.match",
	"prop.calc",
	"prop.match",
        "expo.plot.all",
        "uni.ret.plot",
        "uni.sec.plot",
        "uni.histograms",
	"uni.expo"	
       )
