import(
	)

exportClasses(
	      "brinson",
	      "brinsonMulti"
              )

exportMethods(
              "summary",
              "returns",
              "exposure",
              "show",
              "plot"
              )

export(
       "brinson"
       )
